#fito{
  margin-top: 140px;
  @include media_mobile{
    margin-top: 90px;
  }
}
.fito {
    padding: 0 0 30px 0;
  &__col {
    @include media_md {
      order: 2;
      margin-top: 47px;
    }
  }
  
  &__card {
    background: $white;
    box-shadow: 0px 20px 90px #f0eeee;
    padding: 69px 34px 25px 57px;
    height: 100%;
    @include media_md {
      padding-left: 5px;
      padding-right: 5px;
    }
    &-title {
      margin-bottom: 22px;
      h2 {
        line-height: 44px;
      }
    }
    &-img {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  }