// Colors
$white: #FFFFFF;
$black: #000000;
$light-black: #27314C;
$yellow: #D5A235;
$yellow2: #AE8428;
$green: #50AD70;
$gray: #C8C8C8;
$gray2: #828282;
$gray3: #B6B6B6;
$gray4: #E5E5E5;
$gray5: #A8A8A8;
$gray6: #E8EEF1;
$gray7: #858585;
$gray8: #F5F5F5;

$orange: #FF7246;

$grayInput: #ACACAC;
$grayText: #A6A6A6;